EXPO_PUBLIC_API_URL=
#Ideally, this never env variable gets stored in the env file
#due to security problems with how env vars are bundled in the code during build
#Setup only viable for current test solution
EXPO_PUBLIC_API_KEY=
